<?xml version='1.0' encoding='UTF-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		id="cordova-plugin-translate"
		version="1.0.0">

  <name>Cordova Plugin Translate</name>
  
  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <platform name="ios">
    


  </platform>
</plugin>