<?xml version='1.0' encoding='UTF-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		id="cordova-plugin-spotteron"
		version="1.0.0">

  <name>Cordova Plugin for Spotteron</name>
  
  <author>Spotteron</author>
  
  <description>Cordova Plugin for Spotteron</description>
  
  <keywords>spotteron</keywords>
  
  <license>Apache-2</license>
  
  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <platform name="ios">
    
    <resource-file src="lang/ios/de.lproj" />
    <resource-file src="lang/ios/en.lproj" />
    
	<edit-config target="CFBundleLocalizations" file="*-Info.plist" mode="overwrite">
        <array>
        	<string>de</string>
            <string>en</string>
        </array>
    </edit-config>
	  
    <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
      <string>The app centers on your location at the start to display observations in your current area and to let you submit sightings faster. The app also shows your position on the map.</string>
    </edit-config>
    <edit-config target="NSLocationAlwaysAndWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
	<string>The app displays your approximate location on the map for navigation and to reference the current location of your observation submission.</string>
    </edit-config>
    <edit-config target="NSLocationAlwaysUsageDescription" file="*-Info.plist" mode="merge">
        <string>The app displays your approximate location on the map for navigation and to reference the current location of your observation submission.</string>
    </edit-config>
    <edit-config target="NSMotionUsageDescription" file="*-Info.plist" mode="merge">
        <string>The app supports a track recording feature based on your motion sensor.</string>
    </edit-config>
    <edit-config target="NSMotionUsageDescription" file="*-Info.plist" mode="merge">
        <string>The app can add audio recordings to spots</string>
    </edit-config>

  </platform>
</plugin>
